.ModalOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.ModalContent {
  position: absolute;
  display: block;
  margin-left:auto;
  margin-right:auto;

  top: 140px;
  left: 40px;
  right: 40px;
/*  bottom: 40px;*/
  border: 1px solid rgb(204, 204, 204);
  background: rgb(124, 167, 164);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.btn {
  display: block;
  text-decoration: underline;
}

.btn:hover {
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
  text-decoration: none;
}

.headerInlineBlock {
  display: table;
  margin-left:auto;
  margin-right:auto;
}

.header {
  display: flex;
/*  margin-left:auto;margin-right:auto;*/
/*  width: 50%;*/
}

.header .navItem {
  align-self: center;
}

.nav_item{
  padding-left: 10px;
  padding-right:  10px;
  text-decoration: underline;
}

.nav_item:hover {
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
  text-decoration: none;
}

.fileChooser {
  padding: 5px;
  border: 1px dashed red;
}

.filter {
  display: block;
  margin-left:auto;
  margin-right:auto;
}

.filter .container {
  display: flex;
}

.filter .container > div {
  flex: 1;
}

.filter .container > div:nth-of-type(1n+2) {
  margin-left: 20px;
}

.filter select {
  display: block;
  width: 100%;
}

.filter option {
  height: 2.5em;
}

.filter .label {
  width: 8em;
}

.filter .close_btn {
  float: right;
}

.settings {
  display: block;
  margin-left:auto;
  margin-right:auto;
}

.settings .label {
  width: 8em;
}

.settings .close_btn {
  float: right;
}
  
.pagination {
  padding-left: 15px;
  padding-right: 15px;
}

.pagination li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.pagination .selected {
  border: 1px dashed #999;
}

.message_row_ul:after {
  content: " ";
  display: table;
  clear: both;
}

.message_row {
  /*border: 1px dashed #999;*/
  padding: 5px;
}

.message_row_ul li {
  float: left;
  list-style: none;
  margin-left: 10px;
  font-size: 0.6em;
  background-color: aqua;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;  
  border-radius: 0 10px 0 10px;
  /*border: 1px dashed #999;*/
}

.message_row_ul .time {
  background-color: transparent;
  text-decoration: underline;
}

.message_row_ul .INFO {
  background-color: rgba(21, 199, 140, 0.623);
}

.message_row_ul .TRACE {
  background-color: rgba(21, 172, 199, 0.623);
}

.message_row_ul .ERROR {
  background-color: rgba(199, 63, 21, 0.623);
}

.message_row_ul {
  float: right;
  margin: 0;
  padding: 0;
  /*border: 1px dashed #999;*/
}

.message_row p{
  margin: 0;	
  padding: 0;
  word-break: break-word;
  min-height: 16px
}

.message_row:nth-child(odd) {
  background-color: #f4f7fc;
}
