.settings {
  display: block;

  border: 1px dashed #999;
/*  float: right;*/
  max-width: 50%;
  background-color: orange;
  margin-top: 10px;
  margin-left:auto;
  margin-right:auto;
}

.settings_opened {
  min-width: 20em;
  padding: 5px;
}

.settings .label {
  width: 8em;
}
