.settings {
  border: 1px dashed #999;
/*  float: right;*/
  max-width: 50%;
  background-color: orange;
  clear: both;
  margin-top: 10px
}

.settings_opened {
  min-width: 20em;
  padding: 5px;
}

.settings .label {
  width: 8em;
}
